<div id='comments_wrapper'>
    <h1>Comments</h1>

    <div id='comments' thread="{{ page.url }}">
    </div>
<div class='post-content' >

<form method='post' action="/comments/comment" id='comment_form'> 
    <input type="text" name="username" id="comment_username" placeholder="your name (optional)"/>

<div id='comment_secret'>

</div>
    <textarea name="comment" id="comment_text" placeholder='your comment' form='comment_form'></textarea>
    <input type="text" name="thread" id="comment_thread" hidden value="{{ page.url }}"/>
    <input type="submit" id='comment_submit' class='submit' disabled>
</form>
</div>
</div>
