<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url}}">
      <img
        src="/images/Logo.svg"
        alt="Sylvan Zheng"
        class="logo"
      />
    </a>

    <div class="trigger">
      <ul class='nav'>
      {% for my_page in site.pages %}
        {% if my_page.title and my_page.nav %}
        {% if page.title != my_page.title %}
        <li>
        <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.nav-title | default: my_page.title | downcase | escape }}</a>
        </li>
        {% else %}
        <li>
        <a class="page-link selected" href="{{ my_page.url | relative_url }}">{{ my_page.nav-title | default: my_page.title | downcase | escape }}</a>
        </li>

        {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
      <ul class="social-media-list">
        {% if site.email %}
        <li>
          {% include icon-email.html %}
        </li>
        {% endif %}

        {% if site.instagram_username %}
        <li>
          {% include icon-instagram.html username=site.instagram_username %}
        </li>
        {% endif %}
        
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.soundcloud_username %}
        <li>
          {% include icon-soundcloud.html username=site.soundcloud_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}

      </ul>


    </div>

  </div>

</header>
