#bg {
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
}

#thing {
	background-image:url('http://imgur.com/fmZfHap.jpg');
    background-size: 160px 215px;
    background-repeat:no-repeat;
    background-position: right;
    position: fixed;
    bottom: 0px;
    z-index: 5;
    display: block;
    height: 215px;
    width: 100%;
}

#hoverimg {
	width: 160px;
	height: 215px;
	position: fixed;
	right:-8px;
	opacity: 0;
}

#hoverimg:hover {
	opacity: 1;
}

p,a {font-family: sans-serif;
    letter-spacing:3px;}
    
a {color: #544;}

p { color: #444;
	font-size: 14px;
	}
    
p.title { color: #111;
     font-family: Verdana,sans-serif;
     letter-spacing: 4px;
     text-align: center;
     font-size: 18px;}
p.subtitle {
    text-align:center;
    font-size: 12px;}
li.entry {
     padding: 2px;
     padding-left: 15px;
     margin-bottom: 3px;
     display:block;
     width:50%;
     background-color: #F0F0F0;
     overflow: hidden;
     transition: all 1s;
     -webkit-transition: all 1s;
}
li:hover {
     background-color: #DDE;
     transition: all 1s;
     -webkit-transition: all 1s;   
}
