body {
  margin: 0px;
  padding: 0px;
}

#banner {
  width: 100%;
  height: 256px;
  background-image:url('bg.jpg');
  background-size: cover;
}

.content {
  position: relative;
  padding: 10px;
  width: 768px;
  margin: auto;
}

.tagline {
  text-align: center;
}

#thing {
  background-image:url('http://imgur.com/fmZfHap.jpg');
  background-size: 160px 215px;
   background-repeat:no-repeat;
   background-position: right;
   position: fixed;
   right: 0px;
   bottom: 0px;
   display: block;
   height: 215px;
   width: 150px;
}

#hoverimg {
  width: 160px;
  height: 215px;
  position: fixed;
  right:-8px;
  opacity: 0;
}

#hoverimg:hover {
  opacity: 1;
}

p {
  font-family: sans-serif;
  letter-spacing:1px;
}

a {
  color: #544;
}

p {
  color: #444;
  font-size: 14px;
}

.title { 
     display: inline-block;
     margin: auto;
     color: #111;
     font-family: Verdana,sans-serif;
     letter-spacing: 4px;
     font-size: 18px;
     margin-top: 1em;
     text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  }

a.title:hover {
  letter-spacing: 5px;
  color: #333;
}

p.subtitle {
    text-align:center;
    font-size: 12px;
  }

li.entry {
     padding: 2px;
     padding-left: 15px;
     margin-bottom: 3px;
     display:block;
     overflow: hidden;
     transition: all 1s;
     -webkit-transition: all 1s;
}
li:hover {
     transition: all 1s;
     -webkit-transition: all 1s;
}

#email {
  position: fixed;
  bottom: 1em;
  width: 100%;
  text-align: center;
  font-size: 12px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

}
