// Styling for homepage elements

.cover-text {
  margin-bottom: $spacing-unit;
  height: $logo-height;
  line-height: $logo-height;
}

.cover {
  margin-bottom: $spacing-unit - 8px;
  padding-bottom: 8px;
  border-bottom: 3px solid $background-color;
  &:hover {
    border-bottom: 3px solid $brand-dark;
  }
}

.left {
  width: 50%;
  float: left;
}

.left-sm {
  width: 300px;
  float: left;
}

.right {
  margin-right: $spacing-unit;
  width: 300px;
  float: right;
}

.right-sm {
  margin-right: $spacing-unit;
  width: 200px;
  float: right;
}
