// Import partials.
.projectimg {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.project-link {
  height: 200px;
  margin-bottom: 1em;
}

.sketchimg {
  object-fit: cover;
  height: 150px;
  width: 200px;
}

.sketch {
  height: 200px;
  display: inline-block;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.tag {
  background-color: $green1;
  padding: 0.3em;
  &:hover {
    background-color: $brand-dark;
  }
  text-decoration: none;
}

.excerpt {
  display: block;
  line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav,
.heading {
  font-family: $heading-font-family;
}
