---
layout: default
---
<main class="project-content" aria-label="Content">
<div class="wrapper">
<div class="home">
  <!--<p class='meta'>
    Hi! I'm an artist, composer, researcher, and software engineer 
    based in Brooklyn, NY. 
  </p>
-->
  <p class='heading cover-text'>
    software | sound | data | research | art | design
  </p>

  <div class='cover left'>
    <a href="/fog_of_war"><img src="/images/FogOfWar/thumb.png" alt="Fog of War"/></a>
    <p class='caption'>Fog of War (2021)</p class='caption'>
  </div>

  <div class='cover left'>
    <a href="/chordal_distance"><img src="/images/chordal_distance/banner.jpg" alt="Chordal Distance"/></a>
    <p class='caption'>Chordal Distance (2019)</p class='caption'>

  </div>

  <div class='cover right-sm'>
    <a href="/thoroughfare"><img src="/images/thoroughfare.jpg" alt="Thoroughfare"/></a>
    <p class='caption'>Thoroughfare (2017)</p class='caption'>
  </div>

  <div class='cover left-sm'>
    <a href="/sprinter_van"><img src="/images/van_fins.jpg" alt="The Van"/></a>
    <p class='caption'>Sprinter Van (2019)</p class='caption'>
  </div>

  <div class='cover right'>
    <a href="/greatpoliticalthinking2020"><img src="images/gpt2020-sm.jpg" alt="Great Political Thinking 2020"/></a>
    <p class='caption'>Great Political Thinking (2020)</p class='caption'>
  </div>

  <br />

  <div class='cover left-sm'>
    <a href="tiltshift"><img src="/images/tiltshift.jpg" alt="Tilt Shift"/></a>
    <p class='caption'>Tilt Shift (2017)</p class='caption'>
  </div>


  <div class='cover right'>
    <a href="/grainplane"><img src="/images/grainplane-sm.jpg" alt="GrainPlane"/></a>
    <p class='caption'>Grain Plane (2016)</p class='caption'>
  </div>

  </div>

</div>
  <!---
<div class="wrapper">
  <p class='cover-text heading'>research:</p>
  <ul>
    <li class='meta'>
      IC2S2-2021
      <br />
      <a class='heading' href='https://easychair.org/smart-program/IC2S2-2021/2021-07-29.html#talk:176913'>
        A New Surrogate Metric to Measure Political Persuasion Online (2021)
      </a> 
      <p>with Minali Aggarwal, Jennifer Allen, Solomon Messing, and Dan Frankowski</p>
    </li>
  </ul>
  </div>
</main>
  <div class='cover right'>
    <a href="/tag/climbing"><img class="cover-right" src="/images/bouldering.jpg" alt="Climbing"/></a>
  </div>
</div>
-->