<span class="post-meta">{{ include.post.date | date: "%Y %m %d" }}</span>

<div class='project-link'>
  {% if include.post.dlink %}
    <a href="{{ post.dlink }}">
  {% else %}
    <a href="{{ post.url | relative_url }}">
  {% endif %}
      {{ include.post.title | escape }}
    </a>
</div>

{% if include.post.tags %}
  <p class="post-meta">
    {% for tag in include.post.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
  </p>
{% endif %}

<p class="post-meta excerpt">
{% unless include.nopreview %}
  {{ post.content | strip_html | truncatewords: 50 }}
{% else %}
  {{ post.description }}
{% endunless %}
</p>


