---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: Helvetica, sans-serif !default;
$heading-font-family: "Futura", Helvetica, sans-serif;
$base-font-size: 14pt;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.8;
$base-line-height: 1.5;

$spacing-unit: 38px;

$text-color: #0a100a;
$background-color: #fffeff;
$brand-color: #282;
$brand-dark: darken($brand-color, 35%);

$link-base-color: $brand-color;
$link-visited-color: $brand-dark;
$link-hover-color: $brand-dark;

$border-color-01: $brand-color;

$green1: #f5f9f1;
$green2: #e4f5d4;
$green3: #b6cdbd;
$green4: #5c715e;
$red: #f0c9c9;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$nav-width: 128 + $spacing-unit + $spacing-unit;

$on-palm: 600px;
$on-laptop: 1000px;

$logo-height: 56px;

// Import partials from the `minima` theme.
@import "minima";

// Import partials from the `custom` theme.
@import "custom";

.caption {
  margin-top: -2px;
}

.sm_img {
  width: 49%;
}
