---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: Futura, "Trebuchet MS", Helvetica, sans-serif !default;
$base-font-size: 14px;
$base-font-weight: 100;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111511;
$background-color: lighten(#f5f9f1, 20%);
//$background-color: #fdfdfd;
$brand-color: #181;
$brand-dark: darken($brand-color, 25%);

$green1: #f5f9f1;
$green2: #e4f5d4;
$green3: #b6cdbd;
$green4: #5c715e;
$red: #f0c9c9;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 1000px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

.post-content {
  font-size: 14px;
}

.caption {
  margin-top: -2px;
}

.sm_img {
  width: 49%;
}

.projectimg {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.project-link {
  height: 200px;
  margin-bottom: 1em;
}

.sketchimg {
  object-fit: cover;
  height: 150px;
  width: 200px;
}

.sketch {
  height: 200px;
  display: inline-block;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}
