/**
 * Site header
 */
.site-header {
  border-right: 3.75px dashed $brand-dark;
  //border-bottom: 1px solid $grey-color-light;
  min-height: 56px;
  height: 100%;
  display: inline-block;
  width: $nav-width;
  // Positioning context for the mobile navigation icon
  position: fixed;
  @include media-query($on-laptop) {
    border-right: none;
    padding-bottom: 1em;
    border-bottom: 3.75px dashed $brand-dark;
    margin-bottom: 1em;
  }
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  color: #222;
  &,
  &:visited {
    color: $grey-color-dark;
  }
  @include media-query($on-laptop) {
    display: inline-block;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.social-media-list {
  li {
    display: inline-block;
  }
  width: $nav-width - $spacing-unit * 2;
  @include media-query($on-laptop) {
    width: 100%;
  }
}

ul.nav {
  font-size: 1.2em;
  color: #222;
  line-height: 1.25em;
  margin-bottom: 1em;

  a:visited {
    color: $brand-dark;
  }

  a:hover {
    text-decoration: underline;
  }

  a.selected {
    text-decoration: underline;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

@include media-query($on-laptop) {
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-laptop) {
  .site-header {
    width: 100%;
    position: relative;
    float: none;
  }
  ul {
    display: inline-block;
  }
  ul.nav {
    li {
      display: inline-block;
    }
  }
  .page-content,
  .project-content {
    position: absolute;
    width: 100%;
    left: 0;
    margin-left: 0 !important;
    padding: 0 !important;
  }
}

/**
 * Page content
 */
.page-content,
.project-content {
  padding: $spacing-unit $spacing-unit;
}

.content-width {
  max-width: $content-width-sm;
}

.project-content {
  margin-left: $nav-width;
}

.page-heading {
  font-size: 20px;
}

.page_title {
  display: inline;
}

.page_description {
  display: inline;
  margin-left: 1em;
  color: $grey-color;
  font-size: 0.9em;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit/2;
  }
}

.post-meta {
  font-size: $small-font-size !important;
  color: $grey-color;
}

.post-link {
  display: block;
  padding-bottom: 5px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 2em;

  @include media-query($on-laptop) {
    font-size: 2em;
  }
  //margin-bottom: 0px;
}

.collab {
  margin-top: -12px;
  font-style: italic;
}

.post-content {
  p {
    font-size: 0.9em;
  }

  h1 {
    font-size: 1.5em;

    @include media-query($on-laptop) {
      font-size: 1.5em;
    }
  }

  h2 {
    font-size: 1.25em;

    @include media-query($on-laptop) {
      font-size: 1.25em;
    }
  }

  h3 {
    font-size: 1.1em;

    @include media-query($on-laptop) {
      font-size: 1.1em;
    }
  }

  h4 {
    font-size: 1em;

    @include media-query($on-laptop) {
      font-size: 1em;
    }
  }
}
