#comments_wrapper {
  width: 70%;
  @include media-query($on-laptop) {
    width: 100%;
  }
}

.comment {
  margin-bottom: 1em;
  border-left: 3px $grey-color-light solid;
  padding-left: 1em;
}

.comment_text {
  font-size: $small-font-size;
  p {
    margin: 0;
  }
}

.comment_username {
  font-weight: bold;
  color: $brand-dark;
  font-size: $base-font-size * 0.9;
}

.comment_date {
  color: $grey-color;
}

.comment-meta {
  color: $grey-color-dark;
  padding-bottom: 0.25em;
  p {
    margin: 0;
  }
}

#comment_text {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 70%;
  height: 5em;
}

#comment_username {
  width: 30%;
}

#comment_text,
#comment_username {
  font-family: $base-font-family;
  padding: 0.5em;
  border-radius: 0;
  border-color: $grey-color-dark;
  border-width: 1.5px;
  border-style: solid;
}

#comment_text:focus,
#comment_username:focus {
  outline: 1px $brand-dark solid;
  box-shadow: none;
}

#comment_submit {
  padding: 0.5em;
  background-color: $background-color;
  color: $brand-dark;
  font-weight: bold;
  font-family: $heading-font-family;
  border-color: $grey-color-dark;
  border-style: solid;
  border-width: 1.5px;
}

#comment_submit:hover {
  color: $background-color;
  background-color: $brand-dark;
  cursor: pointer;
}

#comment_submit:disabled {
  color: $grey-color;
  border-color: $grey-color;
  background-color: $background-color;
}

#comment_submit:disabled:hover {
  color: $grey-color;
  border-color: $grey-color;
  background-color: $background-color;
  cursor: default;
}

#comment_secret {
  width: 20px;
  height: 20px;
  background-color: $background-color;
  display: inline-block;
}

#comment_secret:hover {
  background-color: black;
  cursor: pointer;
}

.comment_delete {
  cursor: pointer;
  font-style: underline;
}
