/**
 * Site header
 */
.site-header {
  border-top: 5px solid $brand-dark;
  //border-bottom: 1px solid $grey-color-light;
  min-height: 56px;
  display: inline-block;

  // Positioning context for the mobile navigation icon
  position: fixed;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  color: #222;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.trigger {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.social-media-list {
  li {
    display: inline-block;
  }
}

ul.nav {
  font-size: 18px;
  color: #222;
  line-height: 0.9;
  margin-bottom: 1em;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

@include media-query($on-laptop) {
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-laptop) {
  .site-header {
    width: 100%;
    position: relative;
    float: none;
  }
  ul.nav {
    li {
      display: inline-block;
    }
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 22px;
  padding-bottom: 5px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin: $spacing-unit;
  font-size: 18px;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
