---
layout: default
---

<div class="home">
  {{ content }}
  <p class='cover-text'>software | sound | data | artist | engineer | designer</p>

  <br />
  <div class='cover-left'>
    <a href="/project/2019/11/21/chordal-distance.html"><img src="/images/chordal_distance/banner.jpg" alt="Chordal Distance"/></a>
    <p><i>Chordal Distance (2019)</i></p>
  </div>

  <div class='cover-right-sm'>
    <a href="/project/2017/06/09/thoroughfare.html"><img src="/images/thoroughfare.png" alt="Thoroughfare"/></a>
    <p><i>Thoroughfare (2017)</i></p>
  </div>

  <div class='cover-sm'>
    <a href="/tag/vanlife"><img src="/images/van_fins.jpg" alt="The Van"/></a>
    <p><i>Sprinter Van (2019)</i></p>
  </div>

  <div class='cover-right'>
    <a href="/webmedia/sketches/shatter.html"><img src="/images/shatter.png" alt="Thoroughfare"/></a>
    <p><i>Shatter (2019)</i></p>
  </div>

  <div class='cover-sm'>
    <a href="/project/2017/06/09/tiltshift.html"><img src="/images/tiltshift.jpg" alt="Tilt Shift"/></a>
    <p><i>Tilt Shift (2018)</i></p>
  </div>


  <div class='cover-right'>
  <a href="/webmedia/bounce/bounce.html"><img src="/images/bounce.png" alt="Web Media"/></a>
  <p><i>Bounce (2015)</i></p>
  </div>

  <div class='cover-sm'>
    <a href="/tag/granular"><img src="/images/grainplane.jpg" alt="GrainPlane"/></a>
    <p><i>Grain Plane (2016)</i></p>
  </div>
  <div class='cover-right'>
  <a href="/tag/climbing"><img class="cover-right" src="/images/bouldering.jpg" alt="Climbing"/></a>
  <p><i>Climbing</i></p>
  </div>
</div>
