---
layout: default
---
<main class="project-content" aria-label="Content">
<div class="wrapper">
<div class="home">
  {{ content }}
  <p class='cover-text heading'>software | sound | data | art | research | design </p class='caption'>

  <div class='cover left'>
    <a href="/chordal_distance"><img src="/images/chordal_distance/banner.jpg" alt="Chordal Distance"/></a>
    <p class='caption'>Chordal Distance (2019)</p class='caption'>

  </div>

  <div class='cover right-sm'>
    <a href="/thoroughfare"><img src="/images/thoroughfare.png" alt="Thoroughfare"/></a>
    <p class='caption'>Thoroughfare (2017)</p class='caption'>
  </div>

  <div class='cover left-sm'>
    <a href="/sprinter_van"><img src="/images/van_fins.jpg" alt="The Van"/></a>
    <p class='caption'>Sprinter Van (2019)</p class='caption'>
  </div>

  <div class='cover right'>
    <a href="/greatpoliticalthinking2020"><img src="http://www.greatpoliticalthinking2020.com/images/logo.jpg" alt="Great Political Thinking 2020"/></a>
    <p class='caption'>Great Political Thinking (2020)</p class='caption'>
  </div>

  <!---
  <div class='cover right'>
    <a href="/webmedia/sketches/shatter.html"><img src="/images/shatter.png" alt="Thoroughfare"/></a>
  </div>
-->
  
  <br />

  <div class='cover left-sm'>
    <a href="tiltshift"><img src="/images/tiltshift.jpg" alt="Tilt Shift"/></a>
    <p class='caption'>Tilt Shift (2017)</p class='caption'>
  </div>


  <div class='cover right'>
    <a href="/grainplane"><img src="/images/grainplane.jpg" alt="GrainPlane"/></a>
    <p class='caption'>Grain Plane (2016)</p class='caption'>
  </div>

      </div>
</main>
  <!---
  <div class='cover right'>
    <a href="/tag/climbing"><img class="cover-right" src="/images/bouldering.jpg" alt="Climbing"/></a>
  </div>
  ->
</div>